apiVersion: secrets.infisical.com/v1alpha1
kind: InfisicalSecret
metadata:
  name: {{ include "media-api.fullname" . }}
  labels:
    {{- include "media-api.labels" . | nindent 4 }}
spec:
  authentication:
    kubernetesAuth:
      identityId: {{ .Values.infisical.identityId }}
      autoCreateServiceAccountToken: true
      serviceAccountRef:
        name: secret
        namespace: infisical
      secretsScope:
        projectId: {{ .Values.infisical.projectId }}
        envSlug: prod
        secretsPath: /
  managedKubeSecretReferences:
    - secretName: {{ .Values.infisical.secretName }}
      secretNamespace: {{ .Release.Namespace }}
      creationPolicy: Owner
